name: NPM Publish

on:
  push:
    branches:
      - master
    tags:
      - 'v*'

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    environment: npm
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Publish package
        uses: JS-DevTools/npm-publish@v4
        with:
          registry: https://registry.npmjs.org/
          token: ${{ secrets.NPM_TOKEN }}